extend layout
block content
  .row
    .col-md-12
      .bg-dust
          .mdl-tabs.vertical-mdl-tabs.mdl-js-tabs.mdl-js-ripple-effect
            .mdl-grid.mdl-grid--no-spacing
              .mdl-cell.mdl-cell--3-col
                p.text-center Contact List
                .mdl-spinner.mdl-js-spinner.is-active
                .mdl-tabs__tab-bar#tabs  
              .mdl-cell.mdl-cell--9-col#panels   
                p.text-center Chats   
          
  




