extend layout
block content
  .container
    form.form-signin(action="/", method="post")
      h2.form-signin-heading Please sign in
      input#username.input(type="text", name="username", placeholder="Username")
      input#password.input(type="password", name="password", placeholder="Password")
      input#host.input(type="text", name="host", placeholder="Host")      
      button#boton.btn.btn-large.btn-primary(type="submit") Sign in

  script.
    $(document).ready(function(){
        $('#boton').on('click', function() {
            var username = $('#username').val();
            var password = $('#password').val();
            var host = $('#host').val();
            $.post( "/", {'username': username, 'password': password, 'host': host});
        });
    });

